.container {
    background-color: #ddd;
    padding: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    background-color: #bbb;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}
.signature p {
    text-align: center;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.85em;
    color: #DDDDDD;
}

.signature .much-heart {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    background: #AC1D3F;
    border-radius: 4px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signature .much-heart::before,
.signature .much-heart::after {
    display: flex;
    content: '';
    position: absolute;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #AC1D3F;
    top: -4px;
}

.signature .much-heart::after {
    bottom: 0;
    top: auto;
    left: -4px;
}

.signature a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}



