body {
    background-color: #0c0207;

    color:#000066
}
.primer {
    text-decoration:underline;
    text-align:right;
    letter-spacing:5px
}
#example {
    text-indent:50px;
    word-spacing:20px;
    color:Green
}